/* You can add global styles to this file, and also import other style files */
@import './variables';

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: url(./img/Background-Website.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(50%);
}

body > * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
