<nav class="top-menu">
  <h1 class="top-menu__headline"> {{title}} </h1>
  <ul class="top-menu__right-list">
    <li class="top-menu__right-list-item">
      <fa-icon [icon]="faMagnifyingGlass" class="top-menu__right-icon"></fa-icon>
    </li>
    <li class="top-menu__right-list-item">
      <fa-icon [icon]="faBell" class="top-menu__right-icon"></fa-icon>
    </li>
    <li class="top-menu__right-list-item">
      <fa-icon [icon]="faStopwatch" class="top-menu__right-icon"></fa-icon>
    </li>
    <li class="top-menu__right-list-item">
      <fa-icon [icon]="faBookmark" class="top-menu__right-icon"></fa-icon>
    </li>
    <li class="top-menu__right-list-item">
      <div class="top-menu__profile-placeholder"></div>
    </li>
  </ul>
</nav>
