
<app-topmenu [title]="title"></app-topmenu>

<div class="invoicing-form-and-preview">
  <div class="invoice__forms">
    
    <div class="invoice__form four overflowy-auto">
      <h2 class="invoice__headlines">Aktive Positionen</h2>
      <table *ngIf="lines" class="invoice__table">
        <tr>
          <th class="invoice__table-head">Pos</th>
          <th class="invoice__table-head">Art. Nr.</th>
          <th class="invoice__table-head">Leistung</th>
          <th class="invoice__table-head">Bearbeiter</th>
          <th class="invoice__table-head">Anzahl</th>
        </tr>
        <tr *ngFor="let line of lines">
          <td class="invoice__table-data"> {{line.id}} </td>
          <td class="invoice__table-data"> {{line.number}} </td>
          <td class="invoice__table-data"> {{line.serviceName}} </td>
          <td class="invoice__table-data"> {{line.employee}} </td>
          <td class="invoice__table-data"> {{line.amount}} </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="preview">
    <app-output-pdf #outputRef></app-output-pdf>
  </div>
</div>
