// Header

p {
  margin: 0;
}

.output__logo-container {
  width: 19cm;
  height: 40mm;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  left: 0;
  top: 15mm;
}

.output__logo {
  background: url(../../../../../img/TabTeam.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 100%;
}

.bold {
  font-weight: 600;
}

.top {
  margin-top: 24pt;
}

.output__address-container {
  display: grid;
  grid-auto-flow: column;
  gap: 2cm;
}

.output__address {
  padding: 0 0 0 5mm;
  box-sizing: border-box;
  width: 85mm;
  height: 45mm;
}

.output__own-address-line {
  font-size: 7pt;
  height: 7.7mm;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
}

.output__own-address-line-content {
  border-bottom: 3px black solid;
  padding: 0.1em 0.5em 0 0;
}

.output__recipient-address {
  font-size: 11pt;
}

.output__infos {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  box-sizing: border-box;
  font-size: 10pt;
  margin-top: 5mm;
  height: 40mm;
  width: 75mm;
}

.output__infos-left, .output__infos-right {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: flex-end;
}

// Main

.output__textarea {
  padding: 8.46mm 10mm 0 5mm;
  font-size: 10pt;
}

.output__headline {
  margin: 0;
}

.output__table {
  width: 100%;
}

.output__table-head {
  text-align: left;
  padding: 0.5em;
}

.output__table-data {
  text-align: left;
  padding: 0.5em;
  vertical-align: baseline;
}

.output__sum-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.output__sum {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}

.output__sum-left, .output__sum-right {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.output__sum-right {
  text-align: right;
}

// Footer

.output__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20mm 10mm 25mm;
  font-size: 9pt;
}

.output__footer-p {
  padding: 1em 0;
}

.output__footer-container {
  display: grid;
  grid-auto-flow: column;
}

.output__footer-column-p {
  margin: 0;
}


