<header>
  <div class="output__logo-container">
    <div class="output__logo"></div>
  </div>
  <div class="output__address-container">
    <div class="output__address">
      <div class="output__own-address-line">
        <span class="output__own-address-line-content">TabTeam GbR, Ödwieser Weg 7, 84082 Laberweinting</span>
      </div>
      <p class="output__recipient-address top" *ngIf="customer">{{customer.firstName}} {{customer.lastName}}</p>
      <p class="output__recipient-address" *ngIf="customer">{{customer.companyName}}</p>
      <p class="output__recipient-address" *ngIf="customer">{{customer.street}} {{customer.streetNumber}}</p>
      <p class="output__recipient-address" *ngIf="customer">{{customer.zipCode}} {{customer.city}}</p>
    </div>
    <div class="output__infos">
      <div class="output__infos-left">
        <div class="output__infos-top">
          <p class="output__infos-data bold">Tel.:</p>
          <p class="output__infos-data bold">E-Mail:</p>
          <p class="output__infos-data bold">Webseite:</p>
        </div>
        <div class="output__infos-bottom">
          <p class="output__infos-data bold">Datum:</p>
          <p class="output__infos-data bold">Erstellt:</p>
          <p class="output__infos-data bold">Kundennummer:</p>
          <p class="output__infos-data bold">Fälligkeitsdatum:</p>
        </div>
      </div>
      <div class="output__infos-right">
        <div class="output__infos-top">
          <p class="output__infos-data">+49 1514 4621799</p>
          <p class="output__infos-data">info@tabteam.media</p>
          <p class="output__infos-data">https://tabteam.media</p>
        </div>
        <div class="output__infos-bottom">
          <p class="output__infos-data">{{ currentDate }}</p>
          <p class="output__infos-data">Christoph Labestin</p>
          <p class="output__infos-data" *ngIf="!customer"> --- </p>
          <p class="output__infos-data" *ngIf="customer"> {{customer.id}} </p>
          <p class="output__infos-data"> {{ dueDate }} </p>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="output__textarea">
  <span class="faltmarke faltmarke-oben"></span>
  <span class="faltmarke faltmarke-unten"></span>
  <h2 class="output__headline">Rechnung #900001</h2>
  <table class="output__table">
    <tr class="output__table-row">
      <th class="output__table-head">Pos.</th>
      <th class="output__table-head">Art. Nr.</th>
      <th class="output__table-head">Leistung</th>
      <th class="output__table-head" *ngIf="employee">Bearbeiter</th>
      <th class="output__table-head">Satz</th>
      <th class="output__table-head">Anzahl</th>
      <th class="output__table-head">Preis</th>
    </tr>
    <tr *ngFor="let line of lines">
      <td class="output__table-data"> {{line.id}} </td>
      <td class="output__table-data"> {{line.number}} </td>
      <td class="output__table-data"> {{line.serviceName}} <br/> {{line.serviceNote}} </td>
      <td class="output__table-data" *ngIf="employee"> {{line.employee}} </td>
      <td class="output__table-data"> {{line.servicePrice | number:'1.2-2'}} €/h </td>
      <td class="output__table-data"> {{line.amount}} </td>
      <td class="output__table-data"> {{line.linePrice | number: '1.2-2'}} € </td>
    </tr>
  </table>
  <div class="output__sum-container">
    <div class="output__sum">
      <div class="output__sum-left">
        <p class="output__text bold">Summe (Netto)</p>
        <p class="output__text bold">MwSt (19 %)</p>
        <p class="output__text bold">Gesamtsumme</p>
      </div>
      <div class="output__sum-right">
        <p class="output__text" *ngIf="nettoSum"> {{nettoSum | number: '1.2-2'}} € </p>
        <p class="output__text" *ngIf="nettoSum"> {{nettoSum * 0.19 | number: '1.2-2'}} € </p>
        <p class="output__text" *ngIf="nettoSum"> {{nettoSum * 1.19 | number: '1.2-2'}} € </p>
      </div>
    </div>
  </div>
</main>

<footer class="output__footer">
  <p class="output__footer-p">Es gelten die AGBs der TabTeam GbR</p>
  <div class="output__footer-container">
    <div class="output__footer-column">
      <p class="output__footer-column-p">TabTeam GbR</p>
      <p class="output__footer-column-p">Ödwieser Weg 7</p>
      <p class="output__footer-column-p">84082 Laberweinting</p>
    </div>
    <div class="output__footer-column">
      <p class="output__footer-column-p">Finanzamt Straubing</p>
      <p class="output__footer-column-p">USt-ID-Nr.</p>
      <p class="output__footer-column-p">DEXXXXXXXXXXXXXX</p>
    </div>
    <div class="output__footer-column">
      <p class="output__footer-column-p">Gesellschafter</p>
      <p class="output__footer-column-p">Alexander Diermeyer</p>
      <p class="output__footer-column-p">Christoph Labestin</p>
    </div>
    <div class="output__footer-column">
      <p class="output__footer-column-p">VR-Ostbayern-Mitte</p>
      <p class="output__footer-column-p">BLZ 74369088</p>
      <p class="output__footer-column-p">BIC GENODEF1GPF</p>
      <p class="output__footer-column-p">DE59 1001 1001 2621 2001 67</p>
    </div>
  </div>
</footer>
