<nav class="navigation">
  <ul class="nav__list">
    <li class="nav__list-item" routerLink='/'>
      <fa-icon [icon]="faChartLine" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Dashboard</span>
    </li>
    <li class="nav__list-item" routerLink="/tasks">
      <fa-icon [icon]="faListCheck" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Aufgaben</span>
    </li>
    <li class="nav__list-item" routerLink="/projects">
      <fa-icon [icon]="faDiagramProject" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Projekte</span>
    </li>
    <li class="nav__list-item" routerLink="/tickets">
      <fa-icon [icon]="faTicket" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Tickets</span>
    </li>
    <li class="nav__list-item" routerLink="/invoicing">
      <fa-icon [icon]="faFileInvoiceDollar" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Rechnungen</span>
    </li>
    <li class="nav__list-item" routerLink="/settings">
      <fa-icon [icon]="faGear" class="nav__list-item-icon"></fa-icon>
      <span class="nav__list-item-name">Einstellungen</span>
    </li>
  </ul>
</nav>
