<div class="placeholder"></div>

<nav
  [ngClass]="navStatus ? 'navigation active noselect' : 'navigation noselect'"
  (mouseenter)="changeNav()"
  (mouseleave)="changeNav()"
>
  <div class="menu-section one"></div>
  <div class="menu-section two">
    <p class="menu-section-headline">
      <fa-icon [icon]="faPeopleGroup"></fa-icon>
      <span class="section-name">Team</span>
    </p>
    <ul class="menu-list">
      <li class="menu-list-item" routerLink="/">
        <fa-icon [icon]="faChartLine"></fa-icon>
        <span class="menu-item-name">Dashboard</span>
      </li>
      <li class="menu-list-item" routerLink="/projects">
        <fa-icon [icon]="faDiagramProject"></fa-icon>
        <span class="menu-item-name">Projekte</span>
      </li>
      <li class="menu-list-item" routerLink="/tickets">
        <fa-icon [icon]="faTicket"></fa-icon>
        <span class="menu-item-name">Tickets</span>
      </li>
    </ul>
  </div>
  <div class="menu-section three">
    <p class="menu-section-headline">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="section-name">Persönlich</span>
    </p>
    <ul class="menu-list">
      <li class="menu-list-item" routerLink="/user/calendar">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span class="menu-item-name">Kalender</span>
      </li>
      <li class="menu-list-item" routerLink="/user/tasks">
        <fa-icon [icon]="faListCheck"></fa-icon>
        <span class="menu-item-name">Aufgaben</span>
      </li>
      <a href="https://docs.tabteam.media" class="menu-hyperlink">
        <li class="menu-list-item">
          <fa-icon [icon]="faBook"></fa-icon>
          <span class="menu-item-name">Dokumentation</span>
        </li>
      </a>
      <li class="menu-list-item">
        <fa-icon [icon]="faGear"></fa-icon>
        <span class="menu-item-name">Einstellungen</span>
      </li>
    </ul>
  </div>
  <div class="menu-section four"></div>
</nav>
